<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="nav-bar">
            <ul class="nav-bar-menu">
                <li><img src="image/logo-rkemove.png" alt="Gambar Lokal"></li>
                <li><a href="#JCB">JCB</a></li>
                <li><a href="#JCB">Home</a></li>
                <li><a href="#vission-mission">Vission/Mission</a></li>
                <li><a href=#jadwal>Schedule</a></li>
                <li><a href=#program">Programs</a></li>
                <li><a href="register-menu">Register</a></li>
            </ul>z
        </nav>
        <main>
            <title>JCB Permata</title>
            <h1>JCB Permata</h1>
            <section id="JCB">
                <p>this is gonna be information about what is JCB Permata</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </section>
            <section id="vission-mission">
                <p>this is the section for JCB Permata's vision and missions</p>
                <p>Quis molestie potenti orci integer sem convallis. Mus penatibus mollis lacinia elementum leo tincidunt ultricies sem! Ut ligula morbi platea varius viverra quam neque dignissim. Sollicitudin suscipit vel efficitur ligula ultricies at habitasse suscipit. Venenatis tortor quam dignissim tortor laoreet porttitor est a. Eu volutpat fames enim quam libero phasellus. Elit euismod lacus nec congue hendrerit porttitor. Ligula lacinia interdum nunc platea; cras vestibulum metus. Hendrerit primis cras platea pulvinar eleifend accumsan.</p>
            </section>
            <section id="schedule">
                <p>this is gonna be schedule's section</p>
                <ul class="jadwal">
                    <li>uiiaio aodjwoaj</li>
                </ul>
            </section>
            <section id="program">
                <p>this is gonna be every programs that helds by the church</p>
                <p>Netus tempus tortor nunc erat; condimentum volutpat sagittis. Molestie ullamcorper leo accumsan senectus tincidunt purus augue. Aptent ligula commodo diam finibus; adipiscing laoreet ligula. Quam himenaeos risus primis etiam porttitor luctus accumsan. Pharetra odio aliquet phasellus augue bibendum mus. Posuere aliquet natoque; quisque varius consectetur elementum. Nostra inceptos ultricies orci sollicitudin lectus laoreet. Quisque felis class integer; suspendisse nostra tristique. Nunc venenatis quis cursus molestie proin mattis diam sapien. Lorem torquent molestie varius at aliquam rutrum.</p>
            </section>
            <section id="register-menu">
                <p>Become the member of our community</p>
            </section>
            <section id="about-us">
                <p>this is the section where the viewer can watch where to find the church</p>
            </section>
        </main>
    </body>
    <footer>
        <nav class="footer-nav">
            <p>&copy; 2025 JCB Permata. All rights reserved.</p>
            <ul class="footer-nav-menu">
                <li><a href="instagram.com">Instagram icon</a></li>
                <li><a href="facebook.com">facebook</a></li>
            </ul>
        </nav>
    </footer>
</html>